In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

/Users/mattzhang/py2_kernel/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
df = pd.read_csv("Data/listings.csv")

In [20]:
df = df[:100]

In [7]:
states = pd.read_csv("Data/econ_state.csv", index_col='state')

In [10]:
gdp = states['2005Q1_gdp']

In [22]:
df['state_gdp'] = [gdp[i] for i in df['state']]

/Users/mattzhang/py2_kernel/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [24]:
df[['state', 'state_gdp']]

   state  state_gdp
0     NY     996072
1     NY     996072
2     NY     996072
3     NY     996072
4     NY     996072
5     NY     996072
6     NY     996072
7     NY     996072
8     NY     996072
9     NY     996072
10    NY     996072
11    NY     996072
12    NY     996072
13    NY     996072
14    NY     996072
15    NY     996072
16    NY     996072
17    NY     996072
18    NY     996072
19    NY     996072
20    NY     996072
21    NY     996072
22    NY     996072
23    NY     996072
24    NY     996072
25    NY     996072
26    NY     996072
27    NY     996072
28    NY     996072
29    NY     996072
..   ...        ...
70    NY     996072
71    NY     996072
72    NY     996072
73    NY     996072
74    NY     996072
75    NY     996072
76    NY     996072
77    NY     996072
78    NY     996072
79    NY     996072
80    NY     996072
81    NY     996072
82    NY     996072
83    NY     996072
84    NY     996072
85    NY     996072
86    NY     996072
87    NY     996072
88    NY     996072
89    NY     996072
90    NY     996072
91    NY     996072
92    NY     996072
93    NY     996072
94    NY     996072
95    NY     996072
96    NY     996072
97    NY     996072
98    NY     996072
99    NY     996072

[100 rows x 2 columns]